### Log File ce6

## Search Conditions: To identify periods of unresponsiveness, use the two log files. Filter for:
- "sbatch" command [Column 5]
-  from user 9204 (the test user) [column 1]
- that have return code 1 [column 4]
- execution time > 15 seconds. [response time]

* We are filtering the ce5 slurm scheduler based on user 9204s failed submission that took longer than 15 seconds for a response.

return code
* returncode 0 = job ran successful without any errors
* returncode 1 =  job failed due to a general error in the script or command executed
* returncode 2 =  job failed due to a misuse of shell built-ins or incorrect usage of commands

retry
* retry 0 - Slurm will not attempt to re-run the job if it fails. The job will be marked as failed after the first unsuccessful attempt.
* retry 1 - Slurm will attempt to re-run the job once if it fails. If the job fails again on the second attempt, it will be marked as failed.
* retry 2 - Slurm will attempt to re-run the job twice if it fails. If the job fails after the third attempt, it will be marked as failed.

Command
* sbatch is a command used in the Slurm Workload Manager to submit a batch script for execution. When you use sbatch, you provide a script that contains the commands and resource requests for your job.

In [4]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from datetime import datetime

In [5]:
ce6 = pd.read_csv(r'C:\Users\billy\Documents\NSS_projects\accre-sweet-potato-casserole\notebooks\Data\slurm_wrapper_ce6.log',
                  header=None,
                  delimiter=' - ',
                  engine='python',
                  #nrows=1000
                 )

ce6.head(5)

,0,1,2,3,4,5
0,2020-10-16 10:37:44.163454,user 9202,retry 0,time 0.08495402336120605,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
1,2020-10-16 10:37:44.206654,user 9202,retry 0,time 0.08943057060241699,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
2,2020-10-16 10:37:44.218760,user 9202,retry 0,time 0.05928945541381836,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
3,2020-10-16 10:37:44.256403,user 9202,retry 0,time 0.038695573806762695,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
4,2020-10-16 10:37:44.611603,user 9202,retry 0,time 0.03343677520751953,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."

In [6]:
ce6[['test', 'response_time']] = ce6[3].str.split(expand=True) #split column 3 by the strings time and number and created new column for each - to separate out the time portion of the column.
ce6 = ce6.drop(columns = [3, 'test']) # dropped the original column 3 and the newly created column 'test' - no longer needed.
ce6['response_time'] = ce6['response_time'].astype(float) # needed to convert the response_time column to float data type.

In [7]:
ce6[0] = pd.to_datetime(ce6[0], format='mixed') #converted the column containing date and time to a datetime object for future manipulation.
ce6 = ce6.rename(columns={0:'Date and Time'}) #renamed the column to 'Date and Time'

In [15]:
ce6_unresponsive_9204 = ce6[(ce6[5].str.contains('sbatch')) & (ce6[4].str.contains('returncode 1') & (ce6['response_time'] > 15) & (ce6[1].str.contains('user 9204')))] # we created a new, filtered dataframe based on the conditions.  
ce6_unresponsive_9204

,Date and Time,1,2,4,5,response_time
36913,2020-10-18 06:16:25.392946,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",20.037672
37605,2020-10-18 06:38:44.172473,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",20.038736
39075,2020-10-18 07:47:32.241050,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",20.018348
39356,2020-10-18 08:08:49.366063,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",20.030497
40072,2020-10-18 08:57:22.419398,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",20.038508
...,...,...,...,...,...,...
4652495,2021-09-24 05:11:41.508319,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",20.046733
4653887,2021-09-24 05:59:48.814767,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",20.045359
4660350,2021-09-24 10:26:43.208762,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",20.026630
4662752,2021-09-24 13:29:48.498748,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",20.085085
4766868,2021-10-06 15:39:20.269943,user 9204,retry 0,returncode 1,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr...",19.047097

In [26]:
ce6_unresponsive_9204.to_csv(r'C:/Users/billy/Documents/NSS_projects/accre-sweet-potato-casserole/notebooks/Data/ce6_unresponsive_9204.csv', index=False)